<!-- templates/registration/login.html-->
{% load static %}

{% load crispy_forms_tags %}

<!-- Bootstrap core CSS -->
<link href="{% static 'register/css/loginbootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'register/css/cover.css' %}" rel="stylesheet">

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="cover-heading">Onsite Tool Log In</h2>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-lg btn-secondary">Log In</button>
    
    </form>

<p>If you do not have an account</p>
<a href="{% url 'signup' %}">Click Here to Register</a>

    </div>

    </main>
</body>