{% extends 'base.html' %}

{% block title %}Onsite Tool Assessment{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{ user.username }} to your Onsite Tool Homepage!

  <body>
    <a href="/onsitetool/create/">Add a Client's Onsite Tool Assessment</a>
   
    <ul>
        {% for client in onsitelist %}
       <li><a href="/onsitetool/{{ client.id }}">{{ client.client_name }}</a></li>
       {% endfor %}
    </ul> 
  
  
  
    <p><a href="{% url 'login' %}">Log Out</a></p>
{% else %}
  
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>

</body>
{% endif %}
{% endblock %}