<!-- templates/overview.html -->
{% extends 'base.html' %}

{% block title %}Onsite Tool Assessment{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{ user.username }} to your Onsite Tool Homepage!

  <body>
   <ul>{% for client in onsitelist %}
       <li>{{ client.client_name }}</li>

   {% endfor %}</ul> 
  
  
  
    <p><a href='register/login/'>Log Out</a></p>
{% else %}
  
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>

</body>
{% endif %}
{% endblock %}